# Python Introduction

### Python has two number types integer and floating point number

In [1]:
# Addition
1 + 1

2

In [2]:
# Subtraction
1 - 3

-2

In [3]:
# Multiplication
4 * 6

24

In [4]:
# Division always returns floating point number
2 / 2

1.0

In [5]:
# Floating point arithmetic
2.0 + 4.0

6.0

In [6]:
# Exponential operation
2 ** 6

64

#

### Variable assignment in Python

In [7]:
var = 1

In [8]:
var

1

In [9]:
x = 4
y = 9
x + y

13

In [10]:
x = x ** x
x

256

##### Variable cannot begin with numbers, special character etc

In [11]:
12var = 5

SyntaxError: invalid syntax (<ipython-input-11-84843064e9c2>, line 1)

### Strings

In [12]:
'Hello'

'Hello'

In [13]:
"Hello I'm John"
# If you have single quotes in your string

"Hello I'm John"

In [14]:
str = "hello"
str

'hello'

In [15]:
print('str')

str

#### String formatting

In [16]:
name = 'John'
num = 12
print('My Name is {} and my age is {}'.format(name,num))

My Name is John and my age is 12

In [17]:
print('My Name is {one} and my age is {two}'.format(two='12',one='John'))

My Name is John and my age is 12

In [18]:
print('My Name is {one} and my age is {two}'.format(two=num,one=name))

My Name is John and my age is 12

#### String Indexing

In [19]:
Name = 'Robert'

In [20]:
Name[0]

'R'

In [21]:
Name[3]

'e'

#### Slice method

In [22]:
Name[:]

'Robert'

In [23]:
Name[1:]

'obert'

In [24]:
Name[3:5]
# Grab everything from index 3 till 4 (Don't include 5th one)

'er'

### List

In [25]:
[1,2,3]

[1, 2, 3]

In [26]:
lis1 = [1,2,3]

In [27]:
lis2 = [4,5,6]

In [28]:
lis1 + lis2

[1, 2, 3, 4, 5, 6]

In [29]:
lis1[2] = 'Element replaced'
lis1

[1, 2, 'Element replaced']

In [30]:
lis1.append(lis2)
lis1
# Nested lists

[1, 2, 'Element replaced', [4, 5, 6]]

In [31]:
lis1[3][2]
# Accessing the inner list at position 4 and element 6 which is at position 2 of the inner list

6

#

### Dictionary

In [82]:
d = {1:'One',2:'Two'}

In [83]:
d[1]

'One'

In [84]:
d.update({3:'Three'})

In [85]:
d

{1: 'One', 2: 'Two', 3: 'Three'}

In [86]:
d.update({4:[1,2,3,4,5]})

In [87]:
d

{1: 'One', 2: 'Two', 3: 'Three', 4: [1, 2, 3, 4, 5]}

In [88]:
d[4][3]

4

#

### Tuples and Sets

In [32]:
tup = (1,2,3)

In [33]:
tup[0]

1

In [34]:
tup[0] = 3
# We cannot the change the items in the tuple since its immutable

TypeError: 'tuple' object does not support item assignment

In [35]:
s = {1,2,3,4}
s
# Sets

{1, 2, 3, 4}

In [36]:
{1,2,3,4,4,5,5,6,9,3,3,3}
# Grabs only unique elements

{1, 2, 3, 4, 5, 6, 9}

In [37]:
set([1,2,2,2,3,3,3,5,4,4])

{1, 2, 3, 4, 5}

In [38]:
set(d[3])
# From the value at key 3 in the above defined dictionary

NameError: name 'd' is not defined

In [39]:
s.add(6)
s

{1, 2, 3, 4, 6}

#

### If elif and for loop

In [40]:
if 2 > 3:
    print(Hello)
elif 3 == 3:
    for i in s:
        print(i)
else:
    print('Error')

1
2
3
4
6

In [41]:
i = 1

while i < 5:
    print('i is {}'.format(i))
    i += 1

i is 1
i is 2
i is 3
i is 4

In [43]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

#

### List Comprehension

In [44]:
x = list(range(0,10))
out = []

for num in x:
    out.append(num)
    
out

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
# The above statements can be written in the form of list comprehension

out = [num**2 for num in x]
out

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#

### Functions

In [49]:
def func(p1):
    print(p1)
    
func(1)

1

In [50]:
def func1(p1,p2):
    print('Area of square is {}'.format(p1*p2))
    
func1(2,4)

Area of square is 8

In [55]:
def circleArea(r,pi=3.14):
    """
    This is Docstring
    Returns area of circle
    input the radius and preferrd pi value
    """
    print('Area is {}'.format(pi*r**2))

In [56]:
circleArea(7)

Area is 153.86

#

### Map & Filter Function and Lambda expression

In [58]:
seq = list(range(1,6))
seq

[1, 2, 3, 4, 5]

In [59]:
def square(s):
    return s**2

In [61]:
list(map(square,seq))
# The map function takes as an input the function, and the parameters which can be in the form of list and applies each parameters to the function

[1, 4, 9, 16, 25]

In [64]:
# writing the square function into lambda expression

Square = lambda num : num**2

In [65]:
list(map(Square,seq))

[1, 4, 9, 16, 25]

In [66]:
Square(2)

4

In [69]:
#filter returns or filters according to the conditions given

list(filter(lambda var: var%2 == 0, seq))

[2, 4]

In [71]:
str = 'HeLLo'
str.lower()

'hello'

In [72]:
str.upper()

'HELLO'

In [74]:
tweet = 'Today I went to beach #Sunkissed #Fun'
tweet.split()

['Today', 'I', 'went', 'to', 'beach', '#Sunkissed', '#Fun']

In [81]:
tweet.split('#')[2]

'Fun'

In [89]:
d.keys()

dict_keys([1, 2, 3, 4])

In [90]:
'x' in ['x','y','z']

True

In [91]:
ls = [(1,2),(3,5),(7,8)]

In [92]:
ls[0]

(1, 2)

In [94]:
# tuple unpacking
for item in ls:
    print(item)

(1, 2)
(3, 5)
(7, 8)

In [95]:
for (a,b) in ls:
    print(a)

1
3
7

In [100]:
for (a,b) in ls:
    print (a,b)

1 2
3 5
7 8